<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        
            <form class="form-inline" ng-app="register" ng-contoller="RegisterController" name="registerForm" ng-submit="submitForm()" novalidate>
                <div class="well">
                    <h2>Register</h2><br/>
                    <!--<img src="Registration.png"><br/>-->

                    <div ng-class="{ 'has-error' : registerForm.firstname.$invalid && !registerForm.firstname.$pristine }">
                        <label for="firstname">First Name:</label>   
                        <input type="text" class="form-control" placeholder="Enter Firstname" ng-model="firstname" ng-minlength="4" ng-maxlength="10"/>
                    </div><br/>

                    <div ng-class="{ 'has-error' : registerForm.lastname.$invalid && !registerForm.lastname.$pristine }">
                        <label for="lastname">Last Name :</label>  
                        <input type="text" class="form-control" placeholder="Enter Lastname" ng-model="lastname" ng-minlength="4" ng-maxlength="10"/>
                    </div><br/>

                    <div ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
                        <label for="email">Email :</label>  
                        <input type="email" class="form-control" placeholder="Enter Email" ng-model="email"/>
                    </div><br/>

                    <div ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                        <label for="password">Create a Password :</label>  
                        <input type="password" class="form-control" placeholder="Enter Password" ng-model="password" ng-minlength="6" ng-maxlength="10"/>
                    </div><br/>

                    <div ng-class="{ 'has-error' : registerForm.confirmpassword.$invalid && !registerForm.confirmpassword.$pristine }">
                        <label for="confirmpassword">Confirm Password :</label>  
                        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmpassword" ng-minlength="6" ng-maxlength="10"/>
                    </div><br/>


                    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Submit</button>
                    <a href="#/login" class="btn btn-default">Cancel</a>

                </div>
            </form>
        
    </body>
</html>
