<br><div>
    <span>{{data.name}}</span>

    
       <label>
            <input  class="form-control"   type="text" ng-show ="data.name">
        </label>&nbsp;&nbsp;&nbsp;
    

    <!--<input class="form-inline" ng-show ="data.name"   type="text" ng-model="name">-->
    <button id="add" class=" btn btn-success" ng-click="add(data)"><i class="fa fa-plus"></i></button>
    <button id="delete"  class="btn btn-default" ng-click="delete(data)"><i class="fa fa-trash-o"></i></button>
    <button  class="btn btn-info " ng-click="toggleGuidelineCkeditor = !toggleGuidelineCkeditor"
             ng-show="data.name.length > 0">Guidelines & Checklist</button>
    <!--<button type="button" ng-click="hiddenDiv = !hiddenDiv" class="review">{{lists[$index]}}click</button>-->
    
     <div ng-show="toggleGuidelineCkeditor">       
         <div ng-include="'../sections/document.html'">
             
         </div>


        </div>
    

    <div ng-repeat="data in data.nodes" ng-include="'treemenu.html'">       
    </div>
   


</div>


