/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2015, 6:11:42 PM
    Author     : arun
*/
.header{
    float: right;     
}
.login{
    // width: 70%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
}
.footer{
    text-align: center;
    color:white;
}

