/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2015, 1:56:39 PM
    Author     : arun
*/

.ckedit{
    text-align: center;
    float:left;
}
.checklist{
    text-align: center;
    float:right;  
    overflow: scroll;
    height:60%;
    width:40%;

}
.modal-header{
    border: 1px solid grey;
}
.modal-content{
    border: 1px solid grey;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
    padding-bottom: 2%;
}
.modal-footer{
    border: 1px solid grey;
}
.modal-title{
    text-align: center;
}
.close{
    float: left;
}
.maximize{
    float: left;
}
.minimize{
    float: left;
}

.navbar-inverse{
    background-color: lightgray;
}
