<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Enterprise View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="enterprisecontroller.js"></script>
    </head>
    <body>
        <div ng-app="mainApp">
            <div class="container" ng-controller="EnterpriseController">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "enterprise in enterprises">
                            <td><button type="button" class="btn btn-default">Edit</button></td>
                            <td>{{enterprise.name}}</td>
                            <td>{{enterprise.contact}}</td>
                            <td>{{enterprise.address}}</td>
                            <td>{{enterprise.email}}</td>
                        </tr>                    
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" ng-click="showForm()">Create enterprise</button>          
                <div ng-show="enterprisepopup" class="">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="enterprise.name">Enterprise Name:</label>
                            <div class="col-sm-2">
                                <input type="text" name="enterprise.name"  ng-model="enterprise.name" class="form-control" id="enterprise.name" placeholder="Enterprise Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="contact">Contact:</label>
                            <div class="col-sm-2">          
                                <input type="text" name="enterprise.contact" ng-model="enterprise.contact" class="form-control" id="enterprise.contact" placeholder="Contact" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="address">Address:</label>
                            <div class="col-sm-2">          
                                <input type="password" name="enterprise.address" ng-model="enterprise.address" class="form-control" id="enterprise.address" placeholder="Address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Email:</label>
                            <div class="col-sm-2">
                                <input type="email" name="enterprise.email" ng-model="enterprise.email" class="form-control" id="enterprise.email" placeholder="Enter Valid Email" required>
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" ng-click="saveEnterprise()" class="btn btn-default" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
