<html>
    <head>
        <title>User Detail Views</title>
       
    </head>

    <body>
        <div class="container">
            <div class="panel panel-default" style="width: 95%; margin-left: 5px;">
                <div class="panel panel-heading"><span ng-repeat="designphaseuser in designphaseusers"><h1 class="section-header">{{designphaseuser.name}}</h1></span></div>
                <div class="panel panel-body">



                    <div ng-controller="ProjectDetailController">


                        <div class="container">
                            <div ng-repeat="designphase in designphases">

                                <ol class="list-unstyled" ng-show="designphase.sub" style="width: 90%">
                                    <li ng-repeat="subItem in designphase.sub"><h2 class="itemHeader">{{subItem.name}}</h2>
                                            <button click-to-edit="ckeditorarray.editor"></button>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>