 <div class="container">
            <div class="panel panel-default">
                <div class="panel panel-heading"><span ng-repeat="npiuser in npiusers"><h1 class="section-header">{{npiuser.name}}</h1></span></div>
                <div class="panel panel-body">



                    <div ng-controller="ProjectDetailController">


                        <div class="container">
                            <div ng-repeat="npiphase in npiphases">

                                <ol class="list-unstyled" ng-show="npiphase.sub" style="width: 90%">
                                    <li ng-repeat="subItem in npiphase.sub"> <h2 class="itemHeader">{{subItem.name}}</h2>
                                            <button click-to-edit="ckeditorarray.editor"></button>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 </div>