<html>
    <head>
        <title>Support Phase  Views</title>
       
    </head>

    <body>
        <div class="container" style="width: 98%; margin-left: 5px">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <span ng-repeat="supportphaseuser in supportphaseusers">
                        <h1 class="section-header">{{supportphaseuser.name}}</h1>
                    </span>
                </div>
                <div class="panel panel-body">
                    <div ng-controller="ProjectDetailController">
                        <div class="container">
                            <div ng-repeat="supportphase in supportphases">

                                <ul class="list-unstyled" ng-show="supportphase.sub" style="width: 90%">
                                    <li ng-repeat="subItem in supportphase.sub"> <h2 class="itemHeader">{{subItem.name}}</h2>
                                        <span class="">
                                            <button click-to-edit="ckeditorarray.editor"></button>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
