<html>
    <head>
        <title>User Detail Views</title>

    </head>

    <body>
        <ol>
            <li><label>Section1</label>
                <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggle">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <div id="editorToggle" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                </div>
            </li>
            <ol>
                <li>stage1
                    <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorTogglestage">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div id="editorTogglestage" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                    </div>
                </li>        
                <li>stage2
                    <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorTogglestageone">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div id="editorTogglestageone" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                    </div>
                </li>

            </ol>


            <li><label>Section2</label>
                <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggleone">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <div id="editorToggleone" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                </div>
            </li>


            <ol>
                <li>stage1                
                    <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggleonestage">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div id="editorToggleonestage" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                    </div>                
                </li>

                <ol>
                    <li>sub stage1
                        <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggleonestageone">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <div id="editorToggleonestageone" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                        </div>                     
                    </li>
                    <li>sub stage2
                        <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggleonestagetwo">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <div id="editorToggleonestagetwo" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                        </div> 
                    </li>
                    <li>sub stage3
                        <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggleonestagethree">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <div id="editorToggleonestagethree" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                        </div> 
                    </li>
                </ol>
                <li>stage2
                    <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorToggletwostage">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div id="editorToggletwostage" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                    </div>
                </li>
                <li>stage3
                    <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorTogglethreestage">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <div id="editorTogglethreestage" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                    </div>
                </li>
                <ol>
                    <li>sub stage1
                        <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorTogglethreestageone">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <div id="editorTogglethreestageone" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                        </div>
                    </li>
                    <li>sub stage2
                        <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorTogglethreestagetwo">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <div id="editorTogglethreestagetwo" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                        </div>
                    </li>
                    <li>sub stage3
                        <button class="btn-info" ng-click="toggleckeditopen()" data-toggle="collapse" data-target="#editorTogglethreestagethree">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <div id="editorTogglethreestagethree" class="collapse" ng-include="'../ckeditor/ckeditorview.html'">

                        </div>
                    </li>
                </ol>
            </ol>
        </ol>  
    </body>
</html>