<div>
    
    <span>{{data.name}}</span>
    <input class="form-group" ng-show ="data.name"   type="text" ng-model="name">
    
    <button class=" btn btn-success btn-xs" ng-click="add(data)" >+</button>
    <button  class="btn btn-default btn-xs" ng-click="delete(data)">-</button>
    <button  class="btn btn-warning btn-xs" ng-click="toggle()" ng-show="data.name.length > 0 ">C&D</button><br><br>
    
    
        <div ng-repeat="data in data.nodes" ng-include="'treemenu.html'"></div>
        
       
        
        
    
</div>
 

<!--<script type="text/javascript-lazy">
    console.log("It works!");
<div>-->

