<div  id="treemenu.html">
    
    {{data.name}}
    <input class="form-group" ng-show ="data.name.length > 0"   type="text" ng-model="name">
    
    <button class=" btn btn-success btn-xs" ng-click="add(data)" >+</button>
    <button class="btn btn-default btn-xs" ng-click="delete(data)" ng-show  = "data.name.length > 0">-</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'treemenu.html'"></li>
    </ul>
</div>

<!--<script type="text/javascript-lazy">
    console.log("It works!");
<div>-->

